* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'kudry';
    src: url(../fonts/Kudry_web/kudry_weird-headline.woff) format(woff);
    src: url(../fonts/Kudry_web/kudry_weird-headline.woff2) format(woff2);
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    background-color: #212529;
}

:root {
    --grey-color: gainsboro;
    --dark-back-color: #212529;
    --yellow-color: yellow;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    max-width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

nav .nav-right {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row-reverse;
}

nav .nav-right .three-line-menu {
    position: relative;
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.1rem;
    cursor: pointer;
}

nav .nav-right .three-line-menu:hover::before,
nav .nav-right .three-line-menu:hover::after,
nav .nav-right .three-line-menu:hover span::before {
    background-color: var(--yellow-color);
}

nav .nav-right .three-line-menu::before,
nav .nav-right .three-line-menu::after,
nav .nav-right .three-line-menu span::before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 0.1rem;
    background-color: var(--grey-color);
    border-radius: 10vw;
    transition: all ease 0.5s;
}

nav .nav-right .three-line-menu::before {
    top: 0;
}

nav .nav-right .three-line-menu span::before {
    top: 45%;
}

nav .nav-right .three-line-menu::after {
    bottom: 0;
}

nav .nav-right svg g {
    transition: all ease 0.1s;
}

nav .nav-right svg:hover {
    cursor: pointer;
}

nav .nav-right svg:hover g {
    fill: var(--yellow-color);
}

nav ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li a {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: gainsboro;
    transition: all ease 0.3s;
}

nav ul li a:hover {
    color: var(--yellow-color);
}

nav ul li a lord-icon {
    color: gainsboro;
}

nav .nav-left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
}

nav .nav-left svg {
    cursor: pointer;
    margin-right: .5rem;
}

nav .nav-left svg g {
    transition: all ease .1s;
}

nav .nav-left svg:nth-child(1):hover g {
    fill: rgb(3, 3, 255);
}

nav .nav-left svg:nth-child(2):hover g {
    fill: rgb(255, 221, 3);
}

nav .nav-left svg:nth-child(3):hover g {
    fill: rgb(0, 0, 0);
}

nav .nav-left svg:nth-child(4):hover g {
    fill: rgba(0, 40, 125, 0.476);
}

nav .nav-left svg:nth-child(5):hover g {
    fill: rgb(3, 137, 255);
}